<% if @issue.safe_attribute?('typology_id') && (@issue.project.present? && @issue.project.module_enabled?(:typologies)) %>
  <% typologies = @issue.project.typologies.reject { |t| @issue.project.trackers_for(typology: t).present? && @issue.project.trackers_for(typology: t).exclude?(@issue.tracker) } %>

  <% if typologies.present? %>
    <p>
      <%= f.select :typology_id,
                   typologies.collect { |t| [t.name, t.id] },
                   include_blank: true,
                   required: @issue.required_attribute?('typology_id') %>
    </p>
  <% end %>
<% end %>
