<% if @issue.safe_attribute?('typology_id') && (@project.present? && @project.module_enabled?(:typologies)) %>
  <p>
    <%= f.select :typology_id, @project.typologies.collect { |p| [p.name, p.id] },
                 {include_blank: true, required: false},
                 onchange: "updateIssueFrom('#{escape_javascript update_issue_form_path(@project, @issue)}', this)" %>
  </p>
<% end %>
